@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
  }

  /* Default (light) */
  body {
    @apply bg-gray-100 text-gray-900;
  }

  /* Dark mode */
  html.dark body {
    @apply bg-gray-950 text-gray-100;
  }
}